
body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(50, 50, 50), rgb(242, 43, 53));
    /*background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    background-attachment: fixed;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

/*
 * Card component
 */
.card {
    background-color: #fcfced;
  
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
  
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

.table td {
    vertical-align: middle;
}

.separa_abajo{
    padding-bottom: 10px;
}

.badge-admin {
    color: #fff;
    background-color: #4e62d8;
}

.badge-user {
    color: #fff;
    background-color: #4ed850;
}

.bg-red {
    background-color: #b71837!important;
}
.pull-center{
    display: flex;
    justify-content: center;
}

.custom-radio .custom-control-input:checked~.custom-control-label:before {
    background-color: #d62c34;
}

.a_roja{
    color: #dc3545;
}

.a_roja:hover {
    color: #952f34;
}

.separa_arriba{
    margin-top: 20px;
}

.centrar_etiqueta {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
}

.centrar{
    text-align: center;
}

.justificar{
    text-align: justify;
}
.menos-padding-lados{
    padding-right: 7px;
    padding-left: 10px;
}
